@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;500;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Manrope;
}
::-webkit-scrollbar {
    display: none;
}
.backgroundDay{
    background-image: url("https://images.pexels.com/photos/2379653/pexels-photo-2379653.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.backgroundNight{
    background-image: url("https://cdn.pixabay.com/photo/2017/09/22/20/23/moon-2776955_960_720.jpg");
}
.whiteLetters{
    color: white;
}
img{
    opacity: 0;
    animation: 2s image forwards;
}
h1, h2, h3, h4, span{
    transition: color ease-in-out 1.5s;
}
.container{
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease-in-out .5s;
    /*max-height: 100vh;
    overflow: scroll; */
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas: "main-weather      search          search"
                         "main-weather      week-weather    week-weather"
                         "main-weather      week-weather    week-weather";
    grid-auto-flow: dense;
}
.main-weather{
    grid-area: main-weather;
    min-height: calc(100vh - 20px);
    text-align: center;
    padding: .5em;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
}
#city{
    font-size: 200%;
}
.grades{
    font-size: 450%;
    margin:0 auto 0 auto;
}
h3{
    font-size: 150%;
}
h4{
    font-size: 130%;
}
h4 span{
    font-size: 150%;
}
#icon{
    width: 40%;
    margin: 5% auto 0 auto;
}
.minmax{
    display: flex;
    justify-content: space-around;
    margin-bottom: 3%;
}
.min{
    color: red;    
}
.max{
    color:blue;
}
.data{
    display: grid;
    width: 80%;
    /* grid-gap: 20px; */
    grid-template-columns: 1fr auto;
    align-items: center;
    align-self: center;
}
.data img{
    width: 30%;
    margin: 5% 0;
}
.data h4{
    text-align: right;
}
/* *************************************search */
.search{
    
    grid-area: search;
    padding: 10px;
    height: fit-content;
}
.search input{
    border-radius: 20px 0 0 20px;
    width: 50%;
    margin: auto;   
    padding: .5em;
    padding-left: 1.5em;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
}
.search:focus{
    color: transparent;
}
.search input::placeholder{
    color: white;
}
.btn{
    position: relative;
    left: -4px;
    border-radius:0 20px 20px 0;
    border-left: none;
    padding: .5em;
    padding-right: 1em;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
}
/* ********************************************WEEK WEATHER */
.week-weather{
    
    grid-area: week-weather;
    /* height: calc(90vh - 20px); */
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
}
.day{
    /* background-color: rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    padding: 10px 0;
}
.week-weather div{
    height: fit-content;    
}
#icon2{
    width: 25%;
}
.data2{
    display: grid;
    width: 80%;
    grid-template-columns: 1fr auto;
    align-items: center;
    align-self: center;
    margin: auto;
    text-align: right;
}
.data2 img{
    width: 30%;
}
.day h3{
    font-size: 100%;;
}
.day h2{
    font-size: 250%;
}
.day h4{
    font-size: 100%;
}
@keyframes image {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* ******************************************MEDIAS QUERIES */
@media (min-width: 1199px){
    .week-weather{
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
}
@media (min-width: 768px) and (max-width: 1199px){
    .container{
        max-height: auto;
        grid-template-areas: "search            search          search"
                             "main-weather      week-weather    week-weather"
                             "main-weather      week-weather    week-weather";
    }
    .search input{
        width: 60%;
        margin: 0 auto;
    }
    .main-weather{
        min-height: ;
    }
    .data{
        width: 100%;
    }
    .data img{
        width: 50%;
        margin: 5% auto;
    }
    .data h4{
        text-align: right;
    }
    .week-weather{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        min-height: 500px;
        max-height: 800px;
        overflow-y: scroll;
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .data2{
        width: 90%;
    }
    .day h4{
        font-size: 80%;
    }
}


@media (max-width: 767px){
    .container{
        max-height: auto;
        grid-template-areas: "search            search          search"
                             "main-weather      main-weather    week-weather"
                             "main-weather      main-weather    week-weather";
    }
    .search input{
        width: 80%;
    }
    .data{
        width: 90%;
    }
    .data img{
        width: 20%;
        margin: 5% auto;
    }
    .data h4{
        text-align: center;
    }
    .week-weather{
        display: flex;
        flex-direction: column;
        min-height: 500px;
        max-height: 100vh;
        overflow-x: scroll;
        height: auto;
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .data2{
        width: 90%;
    }
    .day h4{
        font-size: 70%;
    }
}

@media (min-width: 361px) and (max-width: 480px){
    .backgroundDay{
        background-image: url("https://images.pexels.com/photos/586687/pexels-photo-586687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    .backgroundNight{
        background-image: url("https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    .container{
        max-height: auto;
        grid-template-areas: "search            search          search"
                             "main-weather      main-weather    main-weather"
                             "week-weather      week-weather    week-weather";
    }
    .search input{
        width: 80%;
    }
    .data{
        width: 100%;
    }
    .week-weather{
        display: flex;
        flex-direction: row;
        min-height: auto;
        overflow-y: scroll;
        height: auto;
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .day {
        min-width: 95vw;
    }
    .day h4{
        font-size: 120%;
    }
    .data2{
        width: 80%;
    }
}
@media (max-width: 360px){
    .backgroundDay{
        background-image: url("https://images.pexels.com/photos/586687/pexels-photo-586687.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    .backgroundNight{
        background-image: url("https://images.pexels.com/photos/2603464/pexels-photo-2603464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
    .container{
        max-height: auto;
        grid-template-areas: "search            search          search"
                             "main-weather      main-weather    main-weather"
                             "week-weather      week-weather    week-weather";
    }
    .search input{
        width: 80%;
    }
    .data{
        width: 100%;
    }
    /* Scroll en Y para la semana */
    .week-weather{
        display: flex;
        flex-direction: row;
        min-height: auto;
        overflow-y: scroll;
        height: auto;
        flex-wrap: nowrap;
        justify-content: unset;
    }
    .day {
        min-width: 95vw;
    }
    .day h4{
        font-size: 1rem;
    }
    .data2{
        width: 80%;
    }
}